
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Nuestro</span>
                        <span class="section-heading-lower">Compromiso</span>
                    </h2>
                    <p class="mb-0">En nuestra página nos comprometemos a mantenerte informado acerca del universo de Star Wars para que puedas seguir disfrutando de este maravilloso mundo que generó LucasFilm. Aquí podrás enterarte de las historias de personajes, juegos asociados a la franquicia, cómics y libros para ampliar tus horizontes y lugares temáticos para que puedas disfrutar con amigos o en familia.</p>
                </div>
            </div>
        </div>
    </div>
</section>