{% extends 'Home/index_home.html' %}
{% load static %}

{% block CONTENIDO %}

<!-- TARJETA DE LA DERECHA -->
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">Blended to Perfection</span>
                            <span class="section-heading-lower">Coffees & Teas</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'Home/assets/img/libreria_multiple.jpg' %}" alt="..." />
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded"><p class="mb-0">We take pride in our work, and it shows. Every time you order a beverage from us, we guarantee that it will be an experience worth having. Whether it's our world famous Venezuelan Cappuccino, a refreshing iced herbal tea, or something as simple as a cup of speciality sourced black coffee, you will be coming back for more.</p></div>
                </div>
            </div>
        </div>
    </section>

    <!-- TARJETA DE LA IZQUIERDA -->
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex me-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">Delicious Treats, Good Eats</span>
                            <span class="section-heading-lower">Bakery & Kitchen</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'Home/assets/img/products-02.jpg' %} " alt="..." />
                <div class="product-item-description d-flex ms-auto">
                    <div class="bg-faded p-5 rounded"><p class="mb-0">Our seasonal menu features delicious snacks, baked goods, and even full meals perfect for breakfast or lunchtime. We source our ingredients from local, oragnic farms whenever possible, alongside premium vendors for specialty goods.</p></div>
                </div>
            </div>
        </div>
    </section>

    
{% endblock CONTENIDO %}