{% extends 'Home/index_home.html' %}

{% block CONTENIDO %}
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-upper">¡Subscríbete!</span>
                            <span class="section-heading-lower">Ingresa tus datos</span>
                        </h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock CONTENIDO %}
